@model PLCLAB.ViewModels.PLCReadViewModel


@{
    ViewBag.Title = "Odczyt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<br />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.PLC.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLC.Name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.PLC.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLC.Description)
        </dd>

        <dt>
            @Html.LabelFor(model => model.PLC.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLC.IPAddress)
        </dd>

        <dt>
            @Html.LabelFor(model => model.PLC.Port)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLC.Port)
        </dd>

        <dt>
            Zdjęcie
        </dt>

        <dd>

            @if (Model.PLC.ImgPath != null)
            {
                string image = System.IO.Path.GetFileName(Model.PLC.ImgPath);
                string imagePath = "~/Content/plcimg/" + Model.PLC.Name + "/" + image;
                <img src="@Url.Content(imagePath)" alt="@Model.PLC.Name" />
            }
            else
            {
                <span>brak zdjęcia</span>
            }

        </dd>

    </dl>


    <hr />


    @* test *@
    <p>starting address @Model.PLCRead.StartingAddress</p>
    <p>quantity @Model.PLCRead.Quantity</p>
    <p>function n @Model.PLCRead.FunctionN</p>


    
    @for (var i = 0; i < Model.PLCRead.Quantity; i++)
    {
        <p>
            @{ 
                string prefix = "";
                switch (Model.PLCRead.FunctionN)
                {
                    case 1:
                        {
                            prefix = "Q";
                            break;
                        }
                    case 2:
                        {
                            prefix = "I";
                            break;
                        }
                    case 3:
                        {
                            prefix = "R";
                            break;
                        }
                    case 4:
                        {
                            prefix = "AI";
                            break;
                        }
                    default:
                        break;
                }
            }

            <span>@prefix @(i+Model.PLCRead.StartingAddress)</span> : <span>@Model.PLCRead.Val[i]</span>
        </p>
    }


   


    <hr />
    @Html.ActionLink("Powrót", "Connect", new { id = Model.PLC.Id }, new { @class = "btn btn-default" })



</div>
