@model vlabver01.Models.PLC


@{
    ViewBag.Title = "Połączenie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    string image = System.IO.Path.GetFileName(Model.ImgPath);
    string imagePath = "~/Content/plcimg/" + Model.Name + "/" + image;
}


<br />
<div>
    <dl class="dl-horizontal">
        <dt>
            Nazwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Opis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Adres IP
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

        <dt>
            Port
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Port)
        </dd>

        <dt>
            Zdjęcie
        </dt>

        <dd>
            <img src="@Url.Content(imagePath)" alt="@Model.Name" />
        </dd>

    </dl>
    
         @* connect button i costam jeszcze jakies opcje ustawianie jakie inputy czytac itd ... *@
         @*
    @{
        var coils = Model.Read();
    }

    @foreach (var coil in coils)
    {
        <p>@coil</p>
    }
    *@



</div>
