@model PLCLAB.Models.PLC


@{
    ViewBag.Title = "Połączenie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.LabelFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Port)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Port)
        </dd>

        <dt>
            Zdjęcie
        </dt>

        <dd>

            @if (Model.ImgPath != null)
            {
                string image = System.IO.Path.GetFileName(Model.ImgPath);
                string imagePath = "~/Content/plcimg/" + Model.Name + "/" + image;
                <img src="@Url.Content(imagePath)" alt="@Model.Name" />
            }
            else
            {
                <span>brak zdjęcia</span>
            }

        </dd>

    </dl>
   
    <hr />

    @*<p>Odczyt</p>*@
    @Html.Label("Odczyt")
    <br />
    <br />

    @using (Html.BeginForm("Read", "PLC", FormMethod.Post, null))
    {
        @Html.AntiForgeryToken()
        
        <input type="hidden" name="id" value="@Model.Id" />
        @*<p>Typ adresu</p>*@
        @Html.Label("Typ adresu")
        <div class="form-group">
            
            <label class="radio-inline"><input type="radio" name="functionN" value="1" checked>%Q - Wyjścia</label>
            <label class="radio-inline"><input type="radio" name="functionN" value="2">%I - Wejścia</label>
            <label class="radio-inline"><input type="radio" name="functionN" value="3">%R - Rejestry</label>
            <label class="radio-inline"><input type="radio" name="functionN" value="4">%AI - Wejścia analogowe</label>

        </div>

        <div class="form-group">
            @Html.Label("Adres początkowy", htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.Editor("startingAddress", new { htmlAttributes = new { @class = "form-control", @Value = "1" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ilość adresów do odczytu", htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.Editor("quantity", new { htmlAttributes = new { @class = "form-control", @Value = "1" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Odczyt" class="btn btn-default" />
            </div>
        </div>
    }

</div>
