@model List<vlabver01.Models.PLC>
@*model vlabver01.ViewModels.PLCViewModel*@


    @{
        ViewBag.Title = "V LAB";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    @Scripts.Render("~/bundles/signalr")




    <div id="chat">
        <p id="chatUsersP">Użytkownicy : <span id="chatUsers">-</span></p>

        <div id="chatRoom">

        </div>

        <div id="chatControls">
            <input type="text" id="chatMsg" placeholder="Wpisz wiadomość.." role="textbox" aria-label="Wpisz wiadomość" />
            <input type="submit" id="chatBtn" value="Wyślij" role="button" aria-label="Wyślij" />
        </div>


    </div>



    



    <!-- to cos powinno wymagac loginu -->
    <table id="plcList">
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Opis
            </th>
            <th>
                IP
            </th>
            <th>
                Port
            </th>
            <th>
                Zdjęcie
            </th>
            <th>
                Usuń
                <!-- tu jest del button, ktorego za jakis czas tu pewnie nie bedzie. -->
            </th>
            <th>
                Połącz
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IPAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Port)
                </td>
                <td>

                    @if (item.ImgPath != null)
                    { 
                        string image = System.IO.Path.GetFileName(item.ImgPath);
                        string imagePath = "~/Content/plcimg/" + item.Name + "/" + image;
                    <img src="@Url.Content(imagePath)" />
                    }
                </td>
                <td>
                    @Html.ActionLink("Usuń", "DeletePLC", new { id = item.Id }, new { @class = "btn btn-warning"})
                </td>
                <td>
                    @Html.ActionLink("Połącz", "Connect", new { id = item.Id }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </table>


@Html.ActionLink("Dodaj", "AddPLC", null, new { @class = "btn btn-success" })







    <script type="text/javascript">
        $(function () {
            var con = $.hubConnection();
            var hub = con.createHubProxy('Chat');
            hub.on('userCount', function (i) {
                $('#chatUsers').text(i);
            });

            hub.on('sendMsg', function (msg) {
                $('#chatRoom').append('<div>' + msg + '</div>');
            });


            con.start().done(function () {

                
                $("#chatMsg").keyup(function (e) {
                    if (e.keyCode == 13) {
                        $("#chatBtn").click();
                    }
                });

                $('#chatBtn').click(function () {
                    hub.invoke('send', $('#chatMsg').val());
                    $('#chatMsg').val("");
                    $('#chatMsg').focus();

                    setTimeout(function () {
                        $('#chatRoom').scrollTop($('#chatRoom')[0].scrollHeight);
                    }, 300);

                    $('#chatBtn').prop('disabled', true);
                    $('#chatBtn').addClass('btn-inactive');
                    setTimeout(function () {
                        $('#chatBtn').prop('disabled', false);
                        $('#chatBtn').removeClass('btn-inactive');
                    }, 2000);
                });

            });





        });
    </script>


